<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controllers.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmbeddableServlet</display-name>
    <servlet-name>EmbeddableServlet</servlet-name>
    <servlet-class>embeddable.EmbeddableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmbeddableServlet</servlet-name>
    <url-pattern>/EmbeddableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LSmapping</display-name>
    <servlet-name>LSmapping</servlet-name>
    <servlet-class>mappingRelations.LSmapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LSmapping</servlet-name>
    <url-pattern>/LSmapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CacheServletDemo</display-name>
    <servlet-name>CacheServletDemo</servlet-name>
    <servlet-class>cache.CacheServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheServletDemo</servlet-name>
    <url-pattern>/CacheServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HqlServlet</display-name>
    <servlet-name>HqlServlet</servlet-name>
    <servlet-class>hqlDemo.HqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HqlServlet</servlet-name>
    <url-pattern>/HqlServlet</url-pattern>
  </servlet-mapping>
</web-app>